<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Node-Auth</title>
  </head>
  <body>
    <nav>
      <h1>Node-Auth</h1>
      <button>Logout</button>
    </nav>
    <div class="container">
        <form action="/login" method="post">
          <h2>login</h2>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">login</button>
        <p>Don't have an account <a href="/signup">Signup</a></p>
      </form>
    </div>
    <script type="module" src="../index.js"></script>
  </body>
</html>
